<mat-sidenav-container class="h-full">
  <mat-sidenav class="flex flex-col h-full" style="background-color: #6BB8E0" mode="side" opened>
    <mat-nav-list class="flex-grow">
      <mat-list-item>
        <div class="flex items-center gap-2">
          <mat-icon>
            person
          </mat-icon>
          <span class="lalezar-regular">Gabriel</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span class="lalezar-regular" (click)="resetContentNavigation()">Aprender</span>
      </mat-list-item>
      <mat-list-item>
        <span class="lalezar-regular">Configurações</span>
      </mat-list-item>
    </mat-nav-list>
    <div class="p-4">
      <p class="lalezar-regular">BooKids</p>
      <mat-divider></mat-divider>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="p-6" style="background-color: #C2D9FF">
    <div>
      <div class="content-container items-center flex justify-center gap-4">
        <div class="flex flex-col gap-10 justify-center h-max w-10/12" *ngIf="conteudo == null">
          <span class="nav-button" (click)="setContentAndNavigate('caca-palavras')">Caça Palavras</span>
          <span class="nav-button" (click)="setContentAndNavigate('soletrando')">Soletrando</span>
          <span class="nav-button" (click)="setContentAndNavigate('jogo-palavras')">Jogo de Palavras</span>
          <span class="nav-button" (click)="setContentAndNavigate('jogo-letras')">Jogo das Letras</span>
        </div>
      </div>
      <!-- O conteúdo principal renderizado aqui -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
