.word-display {
  display: flex;
  justify-content: center;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.letter-selection button {
  margin: 0.5rem;
}

.button-color {
  background-color: #1F8FCD;
}
