<div *ngIf="!isLoading; else loadingTemplate">
  <mat-card class="p-8" appearance="outlined"
            style="max-width: 80vh; margin: auto; background-color: #D9D9D9; max-height: 80vh">
    <div class="p-6">
      <div *ngIf="palavraAtual">
        <img mat-card-image class="p-4" src="{{palavraAtual.url}}" alt="Imagem de exemplo"
             style="width: 100%; background-color: white; max-height: 50vh">
      </div>
    </div>

    <mat-card-content>
      <h1 class="word-display">
       <span *ngFor="let letra of palavraExibida">
         {{ letra ? letra : ' _ ' }}
       </span>
      </h1>
    </mat-card-content>

    <mat-card-actions class="letter-selection flex items-center justify-center" style="display: flex; flex-wrap: wrap;">
      <button *ngFor="let silaba of silabas"
              mat-flat-button
              color="primary"
              style="margin: 5px;"
              (click)="selecionarSilaba(silaba)"
              [disabled]="silabasSelecionadas.includes(silaba)">
        {{ silaba }}
      </button>
    </mat-card-actions>
  </mat-card>

</div>

<ng-template #loadingTemplate>
  <div class="flex items-center justify-center h-full">

    <!-- Skeleton Loader -->
    <div class="mb-4" *ngIf="isLoading" style="text-align: center; margin-top: 20px; z-index: 10">
      <div class="flex text-center items-center justify-center mb-4">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
      <p>Aguarde, carregando nova palavra...</p>
    </div>
  </div>
</ng-template>


<div class="float-left flex-1">
  <button (click)="resetContentNavigation()"
          class="button-color cursor-pointer relative flex gap-1 px-8 py-4 bg-[#5c5fe9] text-[#f1f1f1] rounded-3xl hover:bg-opacity-70 font-semibold shadow-xl active:shadow-inner transition-all duration-300">
    Retornar
  </button>
</div>
