<mat-sidenav-container class="h-full">
  <mat-sidenav class="p-4" mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <span>BooKids</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Inicio</span>
      </mat-list-item>
      <mat-list-item>
        <span>Carreira</span>
      </mat-list-item>
      <mat-list-item>
        <span>Configurações</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="p-6">
    <!-- Conteúdo principal da página -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
